/*  PHPFunctions - Main CSS

    Version 2014-02-19
*/

html {
    height: 101%;
}

#input {
    margin: 15px 0;
}

.name {
    font-weight: bold;
    text-transform: uppercase;
}

.functionInfo:nth-child(2n-1) {
    background-color: #D9EDF7;
}
